body { 
    background-color: black;
    color: white;
}

header {
    border: solid 1px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}



section { 
    background: rgb(253, 249, 0);
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}